<div class="container">
    <nav class="navbar navbar-light bg-faded" style="background-color: #e3f2fd;">
        <div class="nav navbar-nav">
            <span class="nav-item nav-link left_margin">Q&amp;A Dashboard</span> |
            <a class="nav-item nav-link" href="/#/" ng-click="logout()">Logout ({{session.name}})</a>
        </div>
    </nav>
</div>

<div class="container">

    <div class="panel panel-default" ng-if="!error">
      <div class="panel-body text-center">
        <h1>Hi, {{session.name}}!</h1>
        <h4>
            <span class="glyphicon glyphicon-hand-right" style="color:blue"></span>
            <a href="#/new_question">Add a new question</a>
            <span class="glyphicon glyphicon-hand-left" style="color:blue"></span></h4>
      </div>
    </div>

    <form class="form-inline">
      <input type="text" class="form-control pull-right" placeholder="Search a question" ng-model="filter.text" autofocus>
    </form>

    <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th>#</th>
          <th>Questions</th>
          <th>Answers</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="question in questions | filter:filter">
          <th scope="row">{{$index+1}}</th>
          <td>{{question.text}}</td>
          <td>{{question._answers.length}}</td>
          <td>
            <a href="#/question/{{question._id}}">Show</a> / 
            <a href="#/question/{{question._id}}/new_answer">Answer</a>
          </td>
        </tr>
      </tbody>
    </table>


</div>